{% extends 'base.html' %}

{% block 'bodyContent' %}
<div class="d-flex justify-content-center align-items-center">
   
<form method="post">
    {% csrf_token %}
    <label for="username">Username</label> <br>
    <input type="text" name="username" id=""> <br>
    <label for="password">Password</label> <br>
    <input type="password" name="password" id=""> <br>

    <br>
    <button type="submit">Login</button> <br>
    <a href="{% url 'register' %}">registration?</a>
</form>
</div>

{% endblock 'bodyContent' %}